<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>AngularJS 101</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script type="text/javascript" src="scripts.js"></script>
	</head>
	<body ng-controller="myController">

		<!-- <li ng-repeat="student in dcClass">{{student.name}} - {{student.desc}}</li> -->

		<li ng-repeat="student in dcClass">
			<a href="" ng-click="removeStudent(student)">{{student}}</a>
		</li>

		<form ng-submit="addStudent()">
			<input type="text" ng-model="newStudent">
			<input type="submit" value="Add Student">
		</form>

	</body>
</html>